In [1]:
import pandas as pd

read_csv reads the csv file and loads into memory

In [2]:
df=pd.read_csv('2014-census-data--population-by-broad-age-groups-and-sub-counties-in-each-district---sheet1.csv')

In [3]:
import pandas as pd

# Replace 'your_file_path' with the actual path to your CSV file
file_path = '2014-census-data--population-by-broad-age-groups-and-sub-counties-in-each-district---sheet1.csv'

# Read the CSV file into a Pandas DataFrame
df = pd.read_csv(file_path)

# Now, you can work with the DataFrame 'df'

head function returns the first five rows of the dataframe

In [4]:
print(df.head())

     Region District         Sub-county    0-4    0-8    0-17   6-12  13-18  \
0  Northern     Abim               Abim  2,138  3,949   7,413  3,048  2,142
1  Northern     Abim  Abim Town Council  2,805  5,236   9,739  3,935  2,836
2  Northern     Abim             Alerek  3,159  6,005  10,554  4,517  2,778
3  Northern     Abim            Lotukei  3,779  7,200  13,389  5,562  3,846
4  Northern     Abim            Morulem  4,319  7,777  13,547  5,415  3,565

   18-30   14-64  60+  15-24  15-29 Females 15 - 49  65+
0  2,665   6,047  484  2,692  3,403           2,722  346
1  3,885   8,806  549  3,660  4,918           3,900  389
2  3,757   8,325  547  3,543  4,654           3,706  376
3  5,067  11,409  671  4,928  6,448           5,266  489
4  4,543  10,826  832  4,434  5,789           4,841  554

returns the first 10 rows of the dataset

In [5]:
print(df.head(10))

     Region  District             Sub-county     0-4     0-8    0-17    6-12  \
0  Northern      Abim                   Abim   2,138   3,949   7,413   3,048
1  Northern      Abim      Abim Town Council   2,805   5,236   9,739   3,935
2  Northern      Abim                 Alerek   3,159   6,005  10,554   4,517
3  Northern      Abim                Lotukei   3,779   7,200  13,389   5,562
4  Northern      Abim                Morulem   4,319   7,777  13,547   5,415
5  Northern      Abim                Nyakwae   3,031   5,406   9,104   3,679
6  Northern      Abim               District  19,231  35,573  63,746  26,156
7  Northern  Adjumani  Adjumani Town Council   5,252   9,563  18,865   7,235
8  Northern  Adjumani                 Adropi   2,172   3,671   6,651   2,505
9  Northern  Adjumani               Arinyapi   2,132   3,711   6,678   2,563

    13-18   18-30   14-64    60+   15-24   15-29 Females 15 - 49    65+
0   2,142   2,665   6,047    484   2,692   3,403           2,722    346
1   2,836   3,885   8,806    549   3,660   4,918           3,900    389
2   2,778   3,757   8,325    547   3,543   4,654           3,706    376
3   3,846   5,067  11,409    671   4,928   6,448           5,266    489
4   3,565   4,543  10,826    832   4,434   5,789           4,841    554
5   2,278   3,128   6,971    477   2,849   3,833           3,135    294
6  17,445  23,045  52,384  3,560  22,106  29,045          23,570  2,448
7   6,316   8,884  19,786  1,023   8,453  11,281           9,165    648
8   1,836   2,484   5,846    306   2,304   3,186           2,639    192
9   1,913   2,656   6,028    329   2,530   3,398           2,712    223

returns the last 5 rows of the dataset

In [9]:
print(df.tail())

       Region District        Sub-county     0-4      0-8     0-17     6-12  \
1494  Eastern   Tororo           Rubongi   6,145   10,842   20,370    7,998
1495  Eastern   Tororo           Sop-Sop   2,846    4,886    8,513    3,347
1496  Eastern   Tororo  Eastern Division   2,648    4,626    9,081    3,414
1497  Eastern   Tororo  Western Division   3,295    5,596   10,875    4,062
1498  Eastern   Tororo          District  91,269  159,573  291,043  114,302

       13-18    18-30    14-64     60+    15-24    15-29 Females 15 - 49  \
1494   6,095    7,396   18,886   1,832    7,691    9,678           8,181
1495   2,138    2,646    6,825     712    2,740    3,508           3,025
1496   3,008    4,622   10,784     618    4,367    5,792           5,016
1497   3,587    5,994   13,259     624    5,322    7,320           6,442
1498  81,049  101,178  258,554  24,972  103,690  132,808         114,276

         65+
1494   1,262
1495     474
1496     391
1497     397
1498  17,213

Activity one

write a panda function to display the last 20 elements of the csv file.

isnull function returns a Boolean value indicating whether each value in a DataFrame is missing.

In [14]:
print(df.isnull())

      Region  District  Sub-county    0-4    0-8   0-17   6-12  13-18  18-30  \
0      False     False       False  False  False  False  False  False  False
1      False     False       False  False  False  False  False  False  False
2      False     False       False  False  False  False  False  False  False
3      False     False       False  False  False  False  False  False  False
4      False     False       False  False  False  False  False  False  False
...      ...       ...         ...    ...    ...    ...    ...    ...    ...
1494   False     False       False  False  False  False  False  False  False
1495   False     False       False  False  False  False  False  False  False
1496   False     False       False  False  False  False  False  False  False
1497   False     False       False  False  False  False  False  False  False
1498   False     False       False  False  False  False  False  False  False

      14-64    60+  15-24  15-29  Females 15 - 49    65+
0     False  False  False  False            False  False
1     False  False  False  False            False  False
2     False  False  False  False            False  False
3     False  False  False  False            False  False
4     False  False  False  False            False  False
...     ...    ...    ...    ...              ...    ...
1494  False  False  False  False            False  False
1495  False  False  False  False            False  False
1496  False  False  False  False            False  False
1497  False  False  False  False            False  False
1498  False  False  False  False            False  False

[1499 rows x 15 columns]

This function provides a summary of the statistical distribution of the data in a DataFrame

In [7]:
print(df.describe())

         Region District Sub-county    0-4    0-8    0-17   6-12  13-18  \
count      1499     1499       1499   1499   1499    1499   1499   1499
unique        4      111       1332   1386   1438    1460   1405   1366
top     Eastern  Kibaale   District  4,836  4,988  20,657  4,375  2,369
freq        449       36        110      3      3       2      3      3

        18-30  14-64   60+  15-24  15-29 Females 15 - 49   65+
count    1499   1499  1499   1499   1499            1499  1499
unique   1399   1452  1111   1378   1410            1384   985
top     3,354  8,869   557  9,408  4,074           2,817   273
freq        3      3     5      3      4               4     7